<div class="item">
    <div>Avatar URL</div>
    <div>
        <input type="url" name="avatar_url" placeholder="http://" value="{{teacher.avatar_url}}">
    </div>
</div>
<div class="item">
    <div>Professor</div>
    <div>
        <input type="text" name="name" placeholder="Nome Completo" value="{{teacher.name}}">
    </div>
</div>
<div class="item">
    <div>Data de Nascimento</div>
    <div>
        <input type="date" name="birth" value="{{teacher.birth}}">
    </div>
</div>
<div class="item">
    <div>Grau de escolaridade</div>
    <div>
        <select name="education_level"> 
            <option value="1" {% if teacher.education_level == "1" %} selected {% endif %}>Ensino Médio Completo</option>
            <option value="2" {% if teacher.education_level == "2" %} selected {% endif %}>Ensino Superior Completo</option>
            <option value="3" {% if teacher.education_level == "3" %} selected {% endif %}>Mestrado</option>
            <option value="4" {% if teacher.education_level == "4" %} selected {% endif %}>Doutorado</option>
        </select>
    </div>
</div>
<div class="item">
    <div>Tipo de aula</div>
    <div>
        <span><input type="radio" name="class_type" value="in_person" {% if teacher.class_type == "in_person" %} checked {% endif %} >Presencial</span>
        <span><input type="radio" name="class_type" value="distance" {% if teacher.class_type == "distance" %} checked {% endif %}>À distância</span>
    </div>
</div>
<div class="item">
    <div>Área de Atuação</div>
    <div>
        <input type="text" name="occupations" placeholder="Separar as ocupações por vírgula" value="{{teacher.occupations}}">
    </div>
</div>