{% extends "layout.njk" %}

{% block content %}
<div class="card">
    <section class="image" style="background: url(https://source.unsplash.com/collection/1361815/800x800) no-repeat center center / cover">
    </section>
    <section class="details">
        <h3>Detalhes</h3>
        <div class="item">
            <div>Nome Completo</div>
            <div>Victor Martins</div>
        </div>
        <div class="item">
            <div>Idade</div>
            <div>24 anos</div>
        </div>
        <div class="item">
            <div>Grau de escolaridade</div>
            <div>Graduando</div>
        </div>
        <div class="item">
            <div>Tipo de aula</div>
            <div>À distância</div>
        </div>
        <div class="item">
            <div>Acompanhamento</div>
            <div>
                <span>Programação</span>
                <span>Estatística</span>
            </div>
        </div>
        <div class="item">
            <div>Desde</div>
            <div>01/01/2021</div>
        </div>
    </section>
</div>
{% endblock content %}